@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Protest+Guerrilla&display=swap');

:root {
    --montserrat: 'Montserrat', sans-serif;
    --playfair: 'Playfair Display', sans-serif;
    --protest-guerrilla: 'Protest Guerrilla', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(13,7,79);
    background: linear-gradient(90deg, rgba(13,7,79,1) 0%, rgba(99,0,71,1) 100%);
    width: 100%;
}


/* NAVBAR */
.search-img {
    /* background: rgb(13,7,79);
    background: linear-gradient(90deg, rgba(13,7,79,1) 0%, rgba(99,0,71,1) 100%); */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 5px;
    border-bottom: 1px solid rgba(118, 118, 118, 0.477);
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.2);
}

.search-img input {
    border: 1px solid rgb(194, 194, 194);
    border-radius: 13px;
    height: 25px;
    background-color: transparent;
    padding-left: 10px;
}

.search-img .back-img-search {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.search-img .back-img-search:active {
    background-color: rgba(128, 128, 128, 0.283);
}

/* DESPLEGABLE */
.categories {
    width: 100%;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.15'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    height: 60px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 8px;
    margin-top: 5px;
    border-bottom: 1px solid rgba(118, 118, 118, 0.477);
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.2);
}

.categories-wrapper {
    display: flex;
    white-space: nowrap;
    transition: transform 0.5s ease-in-out; /* Animación suave */
    width: fit-content; /* Ajusta el contenedor al contenido */
}

.category {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #dfdfdf2c; /* Ajusta el color de fondo según tu diseño */
    border-radius: 5px;
    margin-right: 10px; /* Espaciado entre categorías */
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.category-text {
    font-family: var(--montserrat);
}

.category:hover {
    background-color: #555; /* Cambia el color al pasar el ratón */
}

/* TOP MOVIES */
.topmovies {
    /* background-color: lightcoral; */
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.topmovies h1 {
    font-family: var(--montserrat);
    color: white;
    font-size: 15px;
}

#images {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

